
p {
    color: red;
}

h1 {
    text-align: center;
}

#First_Header {
    color: green;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}
#GuiContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
#PenOptions{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: darkgrey;
}
#CanvasContainer {
    cursor: crosshair;
    flex-grow: 1;
    background-color: rgb(50,50,50);
}
#Top {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#FileDirectory {
    width: 100px;
    height: 100%;
    background-color: yellow;
}
#canvas {
    /* box sizing allows a border for debugging */
    box-sizing: border-box;
    /* position absolute prevents canvas from affecting parent size */
    position: absolute;
    
}
.Colors {
    outline: none;
    margin: auto;
    flex-direction: row;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 5px transparent;
    padding: 20px;
    border-radius: 50%;
}
.FilePath {
    margin: auto;
    flex-direction: row;
    background-color: white;
    width: 200px;
    height: 50px;
}
#Color1 {
    background-color: red;
}
#Color2 {
    background-color: black;
}
#Color3 {
    background-color: white;
}
#Color4 {
    background-color: green;
}
#Color5 {
    background-color: yellow;
}
#Color6 {
    background-color: blue;
}
#Color7 {
    background-color: orange;
}
